
#include <ap_int.h>
#define K_SIZE {{ksize}}
#define K_NUM  {{knum}}
#define M_dim1 {{matrix_dim1}}
#define M_dim2 {{matrix_dim2}}

float kmatrix[K_SIZE][K_NUM];
float kvector[K_SIZE];
float kout[K_NUM];

float compute_engine{{ksize}} (
{% for i in range(1, ksize+1) %}
{% if (i == ksize) %}
	float a{{i}}, float b{{i}}
{% else %}
	float a{{i}}, float b{{i}},
{% endif %}
{% endfor %}
){
	#pragma HLS PIPELINE
	float {% for i in range(1, ksize+1) -%}
{%- if (i == ksize) -%}
	m{{i}}
{%- else -%}
	m{{i}},
{%- endif -%}
{%- endfor -%};

	float {% for i in range(1, ksize-1) -%}
{%- if (i == ksize-2) -%}
	add{{i}}
{%- else -%}
	add{{i}},
{%- endif -%}
{%- endfor -%};
{% set c = ksize %}
{%- for i in range(1, c+1) %}
	m{{i}} = a{{i}}*b{{i}};
{% endfor -%}
{% set c = c // 2 %}
{%- for i in range(c) %}
	add{{i+1}} = m{{2*i+1}}+m{{2*i+2}};
{% endfor -%}
{%- set a = c+1 -%}
{%- set count = c -%}
{%- set temp = c -%}
{%- set f = c // 2 -%}
{% for i in range(ksize//2 -2) %}
	add{{a}} = add{{temp}}+add{{temp-1}};
	{%- set temp = temp-2 -%}
	{%- set a = a+1 -%}
	{%- set f = f-1 -%}
	{% if (f == 0) %}
		{% set c = c // 2 %}
		{% set f = c // 2 %}
		{% set count = count+c %}
		{% set temp = count %}
		{% set a = count+1 %}
	{% endif %}
{% endfor %}
	return add{{ksize-3}}+add{{ksize-2}};
}

void kernel(float w[K_SIZE][K_NUM], float x[K_SIZE],float out[K_NUM]){
	#pragma HLS ARRAY_PARTITION variable=w cyclic dim=1 factor={{1*ksize}}
{% if knum != 1 %}
	#pragma HLS ARRAY_PARTITION variable=w   cyclic dim=2 factor={{knum}}
	#pragma HLS ARRAY_PARTITION variable=out cyclic dim=1 factor={{knum}}
{% endif %}
	#pragma HLS ARRAY_PARTITION variable=x cyclic dim=1 factor={{1*ksize}}

{% for i in range(knum) %}
	out[{{i}}]=compute_engine{{ksize}}(
{% for k in range(0, ksize) %}
{% if (k == (ksize-1)) %}
		x[{{k}}], w[{{k}}][{{i}}]
{% else %}
		x[{{k}}], w[{{k}}][{{i}}],
{% endif %}
{% endfor %}
	);
{% endfor %}

}

void mvm(float weight[M_dim1][M_dim2],  float x[M_dim1],float mout[M_dim2]){

  int i,j,k,l,kk;
  int index=0;
  for(k=0;k<M_dim1;k+=K_SIZE){
    for(i=0; i< K_SIZE;i++){
       kvector[i]=x[i+k];
     }
    for(l=0;l<M_dim2;l+=K_NUM){
    #pragma HLS PIPELINE
	for(i=0;i< K_SIZE; i++){
		for(j=0;j< K_NUM; j++){
			kmatrix[i][j]= weight[k+i][l+j];
		}
	}

	kernel(kmatrix, kvector,kout);
{% for i in range(knum) %}
	mout[l+{{i}}]+=kout[{{i}}];
{% endfor %}
    }
  }
}
